<% @title = @register.name + " register"%>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table>
          <% @patients.each do |patient| %>
                <tr>
                  <td><%= patient.fullname %> </td>

                </tr>

         <% end %>
         </table>
    </div>
  </div>
</div>