  <div class="modal fade covid-eligibility-modal" id="covid-eligibility-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Eligibility for covid vaccination (aged 18 - 39)</h4>
            </div>
            <div class="modal-body">
                        <table class='table'>

                                            <tbody>
                                                <tr>
                                                    <th>Conditions</th>
                                                    <th>Notes</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <p>
                                                            <strong>Immunocompromising conditions</strong>
                                                        </p>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Haematological diseases or cancers</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Including</strong>
                                                             leukaemia, lymphoma or myeloma resulting in immunocompromise
                                                        </p>
                                                        <p>Recommend discussion with specialist regarding optimal timing of vaccination</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Solid organ transplant recipients who are on immune suppressive therapy</p>
                                                    </td>
                                                    <td>
                                                        <p>Recommend discussion with specialist regarding optimal timing of vaccination</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Bone marrow transplant recipients or chimeric antigen receptor T-cell (CAR-T) therapy recipients or those with graft host disease</p>
                                                    </td>
                                                    <td>
                                                        <p>Recommend discussion with specialist regarding optimal timing of vaccination</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Non-haematological cancer</p>
                                                    </td>
                                                    <td>
                                                        <p>Diagnosed within the past 5 years or on chemotherapy, radiotherapy, immunotherapy or targeted anti-cancer therapy (active treatment or recently completed) or with advanced disease regardless of treatment </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Adult survivors of childhood cancers</p>
                                                    </td>
                                                    <td>
                                                        <p>Nil</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Chronic inflammatory conditions requiring medical treatments</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Including:</strong>
                                                             systemic lupus erythematosus, rheumatoid arthritis, Crohn’s disease, ulcerative colitis, and similar who are being treated with disease modifying anti-rheumatic drugs (DMARDs) or immune-suppressive or immunomodulatory therapies.
                                                        </p>
                                                        <p>
                                                            <strong>Generally not inclusive</strong>
                                                             of people living with osteoarthritis, fibromyalgia, myalgic encephalomyelitis/chronic fatigue syndrome or similar non-immunocompromising inflammatory conditions.
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Primary or acquired immunodeficiency</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Including</strong>
                                                             congenital causes of immunodeficiency and HIV/AIDS
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <p>
                                                            <strong>Other underlying conditions</strong>
                                                        </p>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Chronic renal (kidney) failure with a eGFR of &lt;44mL/min</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Does not include</strong>
                                                             mild-moderate chronic kidney disease
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Heart disease</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Including</strong>
                                                             ischaemic heart disease, valvular heart disease, cardiomyopathies and pulmonary hypertension
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Chronic lung disease</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Including</strong>
                                                             chronic obstructive pulmonary disease, cystic fibrosis, interstitial lung disease.
                                                        </p>
                                                        <p>
                                                            <strong>Does not include</strong>
                                                             Mild or moderate asthma
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Diabetes</p>
                                                    </td>
                                                    <td>
                                                        <p>Nil</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Severe obesity with a body mass index (BMI) ≥ 40kg/m2</p>
                                                    </td>
                                                    <td>
                                                        <p>Nil</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Chronic liver disease</p>
                                                    </td>
                                                    <td>
                                                        <p>Nil</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Chronic neurological conditions</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Including</strong>
                                                             stroke, dementia, multiple sclerosis, motor neurone disease, Parkinson’s disease, cerebral palsy. 
                                                            <strong>Generally not inclusive </strong>
                                                            of migraine or cluster headaches
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Poorly controlled blood pressure (defined as two or more pharmacologic agents for blood pressure control, regardless of readings)</p>
                                                    </td>
                                                    <td>
                                                        <p>Nil</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Those living with significant disability requiring frequent assistance with activities of daily living</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Including </strong>
                                                            Down syndrome, muscular dystrophy, traumatic brain and spinal cord injury, severe intellectual disability
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Those with severe mental health conditions</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <strong>Including </strong>
                                                            schizophrenia and bi-polar disorder
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
              </div> <!-- modal body -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
              </div> <!-- modal footer -->
        </div> <!-- modal content -->
    </div> <!-- modal dialog -->
  </div>  <!-- modal -->