



  <div class="modal fade designated-conditions-modal" id="designated-conditions-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
     	<div class="modal-content">
        	<div class="modal-header">
         		 <button type="button" class="close" data-dismiss="modal">&times;</button>
       			<h4>Eligibility for free influenza vaccine</h4>
        	</div>
     	 	<div class="modal-body">
     	 		Free seasonal influenza vaccine is funded for the following groups at higher risk of complications from influenza:
				<ul>
					<li>People aged under 5 or 65 and over</li>
					<li>Pregnant women</li>
					<li>Aboriginal and Torres Strait Islander people</li>
					<li>People with heart disease</li>
					<li>People with chronic lung disease, including COPD, bronchiectasis, and severe asthma</li>
					<li>Other chronic illnesses requiring regular medical follow up or hospitalisation in the previous year, including diabetes mellitus,chronic metabolic diseases, chronic renal failure, and haemoglobinopathies</li>
					<li>Other chronic neurological conditions that impact on respiratory function, including multiple sclerosis, spinal cord injuries, and seizure disorders</li>
					<li>People with impaired immunity, including from HIV, malignancy and chronic steroid use</li>
				</ul>
				More details as per <a href= 'https://www.health.nsw.gov.au/immunisation/Pages/flu.aspx'>this guideline</a> from NSW Health
			  </div> <!-- modal body -->
			  <div class="modal-footer">
	          	<button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
	          </div> <!-- modal footer -->
		</div> <!-- modal content -->
    </div> <!-- modal dialog -->
  </div>  <!-- modal -->