
  <div class="modal fade health-care-worker-modal" id="health-care-worker-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
     	<div class="modal-content">
        	<div class="modal-header">
         		 <button type="button" class="close" data-dismiss="modal">&times;</button>
       			<h4>Proof of Occupation for Healthcare workers</h4>
        	</div>
     	 	<div class="modal-body">
     	 		According to government requirements, Health Care Workers will need 'Proof of Occupation' to demonstrate their eligibility for phase 1b of the vaccine roll out.<p>
     	 		This may include an ID card, a letter from their employer or an Eligibility Declaration Form <p><p>
     	 		The category 'Health Care Workers' includes
     	 		<ul>

 <li>Individuals working in health care including doctors, nurses and midwives, allied health professionals, dental practitioners</li>
 <li>All public and private hospital staff</li>
 <li>Healthcare workers in private practice</li>
 <li>Community pharmacy staff</li>
 <li>All healthcare workers providing in-home and community disability and aged care, including centre-based care</li>
 <li>Workers who regularly engage in person with those receiving aged care or those with a disability in phase 1a or 1b, including aged care assessment workforce, those conducting regulatory activities and advocacy services</li>
 <li>All healthcare workers in clinical settings, including students on placement</li>
 <li>Onsite administrative staff in healthcare settings</li>
 <li>Cleaners, kitchen staff and other ancillary staff in healthcare settings</li>
 </ul>
				More details as per <a href= 'https://www.health.gov.au/initiatives-and-programs/covid-19-vaccines/phase-1b#healthcare-workers'>this guideline</a> from the Australian Department of Health<p>
				Eligibility Declaration Forms are available <a href='https://www.health.gov.au/sites/default/files/documents/2021/03/covid-19-vaccination-eligibility-declaration-form.pdf'>here</a><p>
			  </div> <!-- modal body -->
			  <div class="modal-footer">
	          	<button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
	          </div> <!-- modal footer -->
		</div> <!-- modal content -->
    </div> <!-- modal dialog -->
  </div>  <!-- modal -->