

<h1>Book an appointment</h1>
<p><%= Pref.urgent.html_safe %></p>





<h4>Our online booking form is currently closed for maintenance.</h4>

Please ring 66280505 for all appointment enquiries.







