<div class="row">
                <div class="col-md-5">
                        <h2><%= @patient['FULLNAME'] %></h2>
				</div>
				<div class="col-md-3 col-md-offset6" >
				        <br><br> DOB:  <%= @patient['DOB'].strftime("%d/%m/%y") %>
				 </div>
	</div>
	<div class="row">

                 <div class="col-md-11 col-md-offset1">
                 		<p>
                        <b><%= @name %>, Alstonville Clinic, Phone 02 66280505</b><br>


                </div>


</div>