<h2> Nursing Home Rounds</h2>
<ul>
<% @nh_visit_dates.each do | visit | %>
<li><%= visit.strftime("%A, %e %B") %> (<%= pluralize(@nh_visit_counts[visit], 'patient') %>) <%= link_to "Charts and meds",{ :action => "show",:date => visit.to_s(:db) },{:class => "btn btn-primary btn-xs"}%>  <%= link_to "Meds Only",{ :action => "show",:date => visit.to_s(:db), :meds =>"true" },{:class => "btn btn-primary btn-xs"}%></li>

<% end %>
</ul>