<h2> Nursing Home Rounds</h2>
<ul>
<% @nh_visit_dates.each do | visit | %>
<li><%= link_to visit.strftime("%A, %e %B"),{ :action => "show",:date => visit.to_s(:db) }%> (<%= pluralize(@nh_visit_counts[visit], 'patient') %>)</li>

<% end %>
</ul>