						<% if @current_problems.count > 0   %>
							<ul>
					 		<% @current_problems.each do |problem| %>
					 		
						 		<% if problem['CONFIDENTIAL'] == "false" %>
						 		<li>
						 		<%= problem['PROBLEM'] %>
						 		<%= problem['DIAGNOSISDATE'].strftime("%d/%m/%y") if problem['DIAGNOSISDATE'] %>
								</li>
								<% end %>
							<% end %>
							</ul>
						<% end %>