						<% if @current_problems.count > 0   %>

					 		<% @current_problems.each do |problem| %>
					 		<div class="row">
					 			<div class="col-md-1">
					 			<div style="height:13px;"></div>
					 			<%= problem['DIAGNOSISDATE'].strftime("%d/%m/%y") if problem['DIAGNOSISDATE'] %>
					 			</div>
					 			<div class="col-md-11">
								<h3 class="shrink"><%= problem['PROBLEM'] %></h3>
								<%= simple_format(problem['NOTE'])%>

								</div>
							</div>
							<% end %>

						<% end %>