						<% if @current_problems.count > 0   %>

					 		<% @current_problems.each do |problem| %>
					 		<div class="row">
					 			<div class="col-md-1">
					 			<div style="height:13px;"></div>
					 			<%= problem['DIAGNOSISDATE'].strftime("%d/%m/%y") if problem['DIAGNOSISDATE'] %>
					 			</div>
					 			<div class="col-md-11">
								<h3 class="shrink"><%= problem['PROBLEM'] %></h3>
								<%= simple_format(problem['NOTE'])%>
										<!----------- -->
								<% @status=get_status(problem['ID'],@patient.id) %>

									<% if @status.progress !="" %>
									<b>Progress</b>
										<%= simple_format(@status.progress) %>
									<% end %>

								</div>
							</div>
							<% end %>

						<% end %>