<div class="row padded-row">
	<div class='col-md-4'>

	
		<%= member.genie_id %>
		<%= member.recall.title %>
		<% @member = member %>

	</div>
	<div class='col-md-8'>
	<%= render "member_show" %>
	</div>
</div>