	 <!-- Consult Summary -->
     
    
        <legend><i class="fa fa-user-md"></i>  Consultation <%= @consult['date'].to_time.strftime("%d/%m/%y") %> with <%= @consult['provider']%></legend>

         
         

	    <h4><%= @consult['diagnosis']%></h4>


                 <ul>
        <% @consult['problems'].each do |problem| %>
        	<% if problem != @consult['diagnosis'] and problem != "Pathology"%>
        	<li><%= problem %></li>
        	<% end %>
        <% end %>
        </ul>
  
        <!-- end consult summary  -->