<div class="row">

    <div class="col-md-4">
 	 <legend>Open</legend>
 		<% @open_patients.each do |patient| %>
 			<%= link_to patient['SURNAME']+","+patient['FIRSTNAME'], patient_path(:id=> patient['PT_ID_FK']) %><br>
 		<% end %>
 		<p>
 		<p>
    <legend>Seen Today</legend>
 		<% @seen_patients.each do |patient| %>
 			<%= link_to patient['SURNAME']+","+patient['FIRSTNAME'], patient_path(:id=> patient['ID']) %><br>
 		<% end %>

 	</div>
    <div class="col-md-4">

    <%= render "form" %>
    </div>

    <div class="col-md-4">
    <legend>Search results</legend>
 		<% @patients_search.each do |patient| %>

 		<%= link_to patient['SURNAME']+","+patient['FIRSTNAME'], patient_path(:id=> patient['ID']) %><br>

 	<% end %>


	</div>


</div>