<div class="noprint"><b> There are <%= pluralize(@patients.count , "people") %> having a General Check today </b><a href="#" class="btn btn-primary noprint" onclick="window.print();return false;"><i class="fa fa-print"></i></a></div>
<% @patients.each do |patient| %>
        <% @patient = patient[0] %>
        <%= render "precheck" %>
        <div class="row  page-break-before"></div>

<% end %>