<% @title = "Editing document" %>

<% content_for :description do %>
<% if @document.parent =="0" %>
This is a master document template
<% end %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner p30">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
