<% @title = "New document" %>

<% content_for :description do %>
<% if @document.parent == 0  %>
	This is a new master template. Add documents for an individual patient from a patient clincal page
<% end %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
