<% @title = "New document" %>

<% content_for :description do %>
<% if @document.parent == 0  %>
	This is a new master document
<% end %>
<p>The source for this page was <%= @source %> for patient <%= @returnPatient %> and <%= @document.parent %>.</p>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
