<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
We have now made a booking for your second <%= @booker.vaxtype.upcase %> at the Alstonville Clinic.
<p>
You are booked on <%= @booker.clinic.clinicdate.strftime("%A, %B %d") %> at <%= formatTime(@booker.bookhour,@booker.bookminute) %><p>

<p>

	Please read these two updated Dept of Health documents before you arrive for your appointment.
			<ul>
				<li><a href='https://www.health.gov.au/sites/default/files/documents/2021/04/covid-19-vaccination-information-on-covid-19-astrazeneca-vaccine_2.pdf'  target="_blank"><b>information about the AstraZeneca Covid-19 vaccine</b></a></li>
				<li><a href='https://www.health.gov.au/sites/default/files/documents/2021/04/covid-19-vaccination-after-your-astrazeneca-vaccine-covid-19-vaccination-after-your-astrazeneca-vaccine.pdf' target="_blank"><b>what to expect after your AstraZeneca vaccine</b></a></li>
			</ul>


<p>
	You can change or check this booking <a href='https://vax.alstonville.clinic'>on our website</a>
<p>
Cheers,
<p>
The Alstonville Clinic<br>
02 66280505
<p><p>
PS Please don't reply to this email. Ring us if you have any problems or questions.
	
  </body>
</html>