<% @title = "New goal" %>
<% content_for :description do %>
This form is used to create Master Goals that are relevant to a large number of patients.
Goals for specific patients are made through the Care Planning module
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
