/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .shrink {margin: .5em 0 0.5em !important;}
 .hrshrink {margin-top: 5px !important; margin-bottom: 5px !important;}

 pre {
  font:400 16px/20px 'PT Mono', monospace;
 }


@media print {
	#content {float:none !important;}
	.page-break-before	{page-break-before: always; }
	.no-page-break-inside {page-break-inside: avoid;}
	.page-break-after	{ page-break-after: always; }
	body, panel-body,table {
		font-size: 10px !important;
	}
	td{
		font-size: 10px !important;
		padding: 1px !important;
	}
	.btn {
	  padding: 6px 6px !important; 
	  font-size: 10px !important;
	  line-height: 1 !important;
	  border-radius: 1px !important;;

	}



	
	.noprint {visibility: hidden;}
}

/* Print styling */





