<div class="row">

  <div class='col-md-12'>
        <%= text_area_tag :content, "", :class => "tinymce", :rows => 40, :cols => 120 %>
         <input name="image" type="file" id="upload" class="hidden" onchange="">

  </div>
