<h1>PatientRecall#new</h1>
<p>Find me in app/views/patient_recall/new.html.erb</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
