
<%= render :layout => "layouts/minimal" do %>
  <div class="page-header">
    <div class='container'>
      <div class="row row-same-height">
        <div class="col-md-8 col-sm-height col-middle">
          <h2 class='m0'><%= @title %></h2>
        </div>
        <div class="col-md-4 col-sm-height col-middle">
          <%= yield :actions %>
        </div>
      </div>
    </div>
  </div><!-- /.page-header -->

  <div class='container-fluid'>
      <div id="content" class="col-md-12">
        <%= yield %>
      </div> <!-- /#content -->
  </div>
<% end %>